@font-face {
    font-family: Manrope;
    src: url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;500&amp;display=swap");
}   

*:root {
--bg-color1: white;
--bg-color2: blue;

}

*{
    box-sizing: border-box;
    font-family: Manrope;
    }



.span {
    display: flex;
    justify-content:center;
    align-items:center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    flex-direction: column;
    margin-left: 2rem;
    margin-right: 2rem;
    border-bottom: 1px solid grey;
    font-size: 25px;
    
   
    

}

.contact-name {
    display: flex;
    justify-content:center;
    align-items:center;
    margin: 1em 0 1em 0;
    

}

.contact-container {
display: flex;
position: relative;
justify-content: center;
flex-direction: column;
flex-wrap: wrap;
max-width: 300px;
min-width: 50vw;
height: 60vh;
background-color: var(--bg-color1);
margin-left: auto;
margin-right: auto;


}
img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1em;
    width: 40px;

}

.mobile-container {
display: flex;
flex-wrap:wrap;
flex-direction:column;
margin:2em ;
padding: 1em;
font-weight: normal;
font-size: medium;
border: 1px solid lightgray;
box-shadow: 10px 5px 5px lightgray;
border-radius:5px;

}

.contact {
display: flex;
flex-direction: column;
align-self: flex-start;
margin-left: 0px;
padding-right: 1.2em;

}
.form-group-phone {
 padding-top: 1rem;
   
}
.text-span{
    margin-top:0.5rem;
    border-bottom: 1px solid grey;
    padding-bottom: 2em;
    
}
label {
    padding-top: 0.5rem;
}

.form-group-email {
    padding: 0.5rem;
   
}

.form-group-email input {
    border: 0;
}
}
h1 {
display: flex;
justify-content: center;
align-self: center;
}
input {
    padding: 0.5em;
}

button {
display: flex;
position: relative;
justify-content: center;
align-self:center;
width: 50vw;
margin-top: 20px;
padding: 1.0em;
background-color: var(--bg-color2);
color: white;
border-radius: 3px;
}

@media (min-width: 280px) {
    .contact-container{
        width: fit-content;
        height: fit-content;
    }
}